[Unit]
Description=Autonomous Boat Auto Start Service
After=local-fs.target
Wants=local-fs.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/autonomous-boat
# Use venv python to ensure dependencies are isolated:
ExecStart=/home/pi/venv_ida/bin/python /home/pi/autonomous-boat/src/main.py
Restart=on-failure
RestartSec=5
StandardOutput=append:/home/pi/autonomous-boat/logs/boat-service.log
StandardError=append:/home/pi/autonomous-boat/logs/boat-service-error.log

[Install]
WantedBy=multi-user.target


